body {
  margin: 0;
  font-family: Arial;
  background: #f5f5f5;
}

.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: #fff;
  padding: 10px;
}

.tela {
  display: none;
  padding: 15px;
}

.ativa {
  display: block;
}

button {
  width: 100%;
  padding: 14px;
  margin: 8px 0;
  border-radius: 10px;
  border: none;
  background: #111;
  color: white;
  font-size: 16px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
}

footer {
  text-align: center;
  padding: 10px;
  font-size: 12px;
}
